@define-color rosewater rgb(245, 224, 220);
@define-color text      rgb(205, 214, 244);
@define-color subtext1  rgb(186, 194, 222);
@define-color subtext0  rgb(166, 173, 200);
@define-color overlay2  rgb(147, 153, 178);
@define-color overlay1  rgb(127, 132, 156);
@define-color overlay0  rgb(108, 112, 134);
@define-color surface2  rgb(88, 91, 112);
@define-color surface1  rgb(69, 71, 90);
@define-color surface0  rgb(49, 50, 68);
@define-color base      rgb(30, 30, 46);
@define-color mantle    rgb(24, 24, 37);
@define-color crust     rgb(17, 17, 27);

window {
  background-color: @base;
  opacity: 0.9;
  color: @text;
  border: 2px solid @rosewater;
}

#input {
  background-color: @surface0;
  color: @rosewater;
  border: 1px solid @overlay0;
}

#inner-box {
  background-color: @base;
}

#outer-box {
  background-color: @base;
}

#scroll {
  background-color: @base;
}

#text {
  color: @text;
}

#entry:selected {
  background-color: @rosewater;
}

#text:selected {
  color: @base;
}
